<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>HotelMenuServlet</servlet-name>
        <servlet-class>HotelMenuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HotelMenuServlet</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ClientMenuServlet</servlet-name>
        <servlet-class>ClientMenuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientMenuServlet</servlet-name>
        <url-pattern>/clientMenu</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ApartmentCreateServlet</servlet-name>
        <servlet-class>ApartmentCreateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApartmentCreateServlet</servlet-name>
        <url-pattern>/apartments/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ApartmentListServlet</servlet-name>
        <servlet-class>ApartmentListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApartmentListServlet</servlet-name>
        <url-pattern>/apartments</url-pattern>
    </servlet-mapping>

</web-app>


